@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* ---------------links----------------------- */

a{
    text-decoration: none;
    color: black;
}

/* -----------------header---------------------- */

header{
    height: 100vh;
    background: linear-gradient(to bottom right, hsla(182, 100%, 57%, 0.9), rgba(255, 255, 255, 0.95));
}




/* ------------Mobile Navi----------------- */

.mobile-nav-icon{
    display: none;
    cursor: pointer;
    margin-right: 20px;
    /* margin-top: -20px; */
}

.mobile-nav-icon i{
    display: block;
    font-size: 40px;
}

/* ---------sticky anvigation bar-------------------- */

.sticky-nav{
    position: fixed;
    width: 100%;
}

/* -------------navigation bar--------------- */

.navi{
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color:rgba(255, 255, 255, 0.95);
    z-index:1;
    box-shadow: 1px 2px 2px rgb(119, 109, 109);
}

.main-nav{
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

.main-nav li{
    margin-right: 20px;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid hsla(182, 100%, 57%, 0.9);
}

#nav-name{
    margin-left: 20px;
    font-weight: 500;
}

#nav-name:hover{
    color: hsla(182, 100%, 57%);
}

/* -----------Aboutme-------------- */

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.aboutme h2:first-child{
    font-weight: 400;
    margin-bottom: 10px;
}

.aboutme h2:last-child{
    font-weight: 400;
    font-style: italic;
}

.aboutme h2 span{
    font-weight: 700;
}

/* ----------section------------- */
section{
    padding: 30px 20px;
}

/* ----------project------------- */

.project__heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 16vh;
    margin-bottom: 20px;
}

.project__heading:after{
    content:" ";
    width: 100px;
    height: 2px;
    background-color: hsla(182, 100%, 57%);
    margin-top: 20px;
}

.project__heading h2{
    font-weight: 400;
}

.project-heading h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-box{
    display: flex;
    
}

.project{
    margin: 0 4%;

    display: flex;
    flex-direction: column;
    width: 45%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.project__image{
    height: 15vh;
    border: 2px solid white;
    border-radius: 50%;
    width: 25%;
    height: auto;
    margin-top: -13%;
    margin-bottom: 20px;
}

.project__background{
    width: 100%;
}

.project__background img{
    width: 100%;
    height: 100%;
}

.project__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top left, hsla(182, 100%, 57%), white);
    width: 100%;
}

.project__description{
    height: 30vh;
    margin-bottom: 20px;
    padding: 3%;

    /* problem at 730px */
}

.ion-logo-github{
    font-size: 40px;
    margin-top: auto;
}


/* ------------Tech Skills-------------- */

.section-tech{
    background: linear-gradient(to top left, hsla(182, 100%, 57%), white);
}

.tech-skills__heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 16vh;
    margin-bottom: 20px;
}

.tech-skills__heading:after{
    content:" ";
    width: 100px;
    height: 2px;
    background-color: hsla(182, 100%, 57%);
    margin-top: 20px;
}

.tech__icon{
    display: flex;
    justify-content: space-evenly;
}

.tech__icon-icon{
    font-size: 40px;
}

.tech__icon-icon:hover{
    color: rgba(255, 255, 255, 0.95);
}

/* -------------Contact-------------- */

.footer-contact{
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
    background: linear-gradient(to bottom left, black, white);
}

.social__icon{
    font-size: 25px;
}

.social__icon-icons{
    margin-right: 20px;
}

.social__icon a:last-child i{
    margin-right: 0px;
}


/* -------------Mobile Screen ----------------*/

@media only screen and (max-width: 700px){
    body{
        font-size: 16px;
        font-weight: 200;
    }

    .aboutme h2{
        padding: 2%;
    }

    .project-box{
        flex-direction: column;
        align-items: center;
    }

    .project{
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .project__background img{
        height: 100%;
        margin-bottom: -5px;
    }

    /* when menu is clicked */
    #nav-name{
        font-size: 20px;
        margin-top: 10px;
    }

    /* .navi{
        width: 100%;
        height: 10vh;
        align-items: center;
    } */

    /* .main-nav{display: none;} */

    .main-nav{
        display: none;
        margin-top: 10px;
        width: 60%;
    }

    .main-nav li{
        padding: 5px;
        margin-left: 20px;
    }

    .main-nav li a:hover,
    .main-nav li a:active{
        border-bottom: 2px solid transparent;
    }

    
    .mobile-nav-icon{
        display: block;
    }

    .ion-ios-close{
        font-size: 40px;
        margin-right: 5px;
    }

    

}


